# Ejercicios Pandas

In [1]:
# importando pandas usando la convención
import pandas as pd

In [ ]:
# 0. Carge la base titles.csv y muestre las primeras 5 lineas

In [ ]:
# 0. Carge la base cast.csv y muestre las primeras 5 lineas

In [ ]:
# 1. Cuantas peliculas estan listadas en el dataframe de titulos?

In [ ]:
# 2. ¿Cuales son las peliculas mas antiguas listadas en titulos?

In [3]:
# 3. ¿Cuantas pelicuals de Dracula existen en la base?

                                   title  year
0                                 Mahler  1974
1           Ogon, voda i... mednye truby  1968
2  Ana Nojoom bent alasherah wamotalagah  2014
3                      Malu de Bicicleta  2010
4             Nazareno Apostol: Boy Ahas  1989

In [ ]:
# 3. ¿Cuantas pelicuals de "Romeo and Juliet" existen en la base? ordendelas de mayor a menor

In [9]:
# 4. Titulos mas comunes en la historia filmografica

title
Hamlet                   19
Carmen                   16
Macbeth                  15
The Outsider             11
Hero                     11
                         ..
My First Wedding          1
Those Without Shadows     1
Que Poca Madre            1
Bondam Pelli              1
Mio caro assassino        1
Name: count, Length: 210690, dtype: int64

In [ ]:
# 5. Cual fue la primer pelicula hecha titulada "Romeo and Juliet" ?

In [ ]:
# 6. Cuantas peliculas fueron hechas en el año 1950?

In [ ]:
# 7. Cuantas peliculas fueron hechas de 1950 a 1959